[Desktop Entry]
Type=Application
Name=srcpkg2git (auto/bot)
Comment=source package to git converter/deobfuscator (download and convert/deobfuscate (and upload))
Exec=/usr/bin/srcpkg-dl --auto
Icon=srcpkg2git
Terminal=true
Categories=Utility;ConsoleOnly;
