/git-remote.conf
/srcpkg-dl.conf
/SRCPKG2GIT/
/SRCPKG2GIT_tmp/
/xdg/srcpkg2git-gen.desktop

/pacman-pkgbuild/srcpkg2git/*
!/pacman-pkgbuild/srcpkg2git/PKGBUILD
!/pacman-pkgbuild/srcpkg2git/.SRCINFO

/pacman-pkgbuild/srcpkg2git-git/*
!/pacman-pkgbuild/srcpkg2git-git/PKGBUILD
!/pacman-pkgbuild/srcpkg2git-git/.SRCINFO

/pacman-pkgbuild/srcpkg2git-git-tag/*
!/pacman-pkgbuild/srcpkg2git-git-tag/PKGBUILD
!/pacman-pkgbuild/srcpkg2git-git-tag/.SRCINFO

/pacman-pkgbuild/srcpkg2git-local/*
!/pacman-pkgbuild/srcpkg2git-local/git-commit.sh
!/pacman-pkgbuild/srcpkg2git-local/git-credential-bashelper.sh
!/pacman-pkgbuild/srcpkg2git-local/git-credential-shelper.sh
!/pacman-pkgbuild/srcpkg2git-local/git-remote.conf.template
!/pacman-pkgbuild/srcpkg2git-local/git-remote.sh
!/pacman-pkgbuild/srcpkg2git-local/LICENSE
!/pacman-pkgbuild/srcpkg2git-local/LICENSE.GPL
!/pacman-pkgbuild/srcpkg2git-local/LICENSE.MPL
!/pacman-pkgbuild/srcpkg2git-local/Makefile
!/pacman-pkgbuild/srcpkg2git-local/PKGBUILD
!/pacman-pkgbuild/srcpkg2git-local/.SRCINFO
!/pacman-pkgbuild/srcpkg2git-local/srcpkg2git-gen.desktop.part
!/pacman-pkgbuild/srcpkg2git-local/srcpkg2git-logo.png
!/pacman-pkgbuild/srcpkg2git-local/srcpkg2git.sh
!/pacman-pkgbuild/srcpkg2git-local/srcpkg2git.timer
!/pacman-pkgbuild/srcpkg2git-local/srcpkg-dl.conf.template
!/pacman-pkgbuild/srcpkg2git-local/srcpkg-dl.sh
!/pacman-pkgbuild/srcpkg2git-local/system-bin.desktop
!/pacman-pkgbuild/srcpkg2git-local/system-bin.service

/pacman-pkgbuild/srcpkg2git-tar/*
!/pacman-pkgbuild/srcpkg2git-tar/PKGBUILD
!/pacman-pkgbuild/srcpkg2git-tar/.SRCINFO
