[Unit]
Description=source package to git converter/deobfuscator (download and convert/deobfuscate (and upload))

[Timer]
OnCalendar=daily
#Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
